/* elements in the base layout */
html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#base-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#left-col {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

#left-col::-webkit-scrollbar {
  display: none;
}

#right-col {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

