@import './base.css';
@import './home.css';
@import './nav.css';
@import './version.css';

/* ROOT VARIABLES, FOR USE IN MODULES WHERE APPROPRIATE */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --font-size-step-0: 1.15rem;
  --font-size-step-1: 1.15rem;
  --font-size-step-2: 1.15rem;
  --font-size-step-3: 2.5rem;
  --font-size-step-4: 3.5rem;
  --font-size-step-5: 5rem;
  --padding-step-1: 5px;
  --padding-step-2: 10px;
  --padding-step-3: 25px;
  --padding-step-4: 50px;
  --padding-step-5: 100px;
  --font-family: 'Helvetica';
}

/* UNIVERSAL STYLE DECLARATIONS */
* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 500;
}