
/* ELEMENTS RENDERED USING MACROS/NAV */

#nav {
  position: fixed;
  top: var(--padding-step-2);
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
}

#nav > #nav-left {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: var(--padding-step-2);
}

#nav > #nav-left > a {
  align-items: left;
  margin-right: var(--padding-step-1);
}

#nav > #nav-centre {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#nav > #nav-centre > a {
  align-items: center;
  margin-right: var(--padding-step-1);
}

#nav > #nav-right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: var(--padding-step-2);
}

#nav > #nav-right > a {
  align-items: right;
  margin-left: var(--padding-step-1);
}

#nav > * > a {
  display: flex;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: var(--font-size-step-1);
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}