#nav {
  position: fixed;
  top: calc(var(--parent-padding));
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
}

#nav > #nav-left {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: calc(var(--parent-padding));
}

#nav > #nav-left > a {
  align-items: left;
  margin-right: calc(var(--parent-padding)/2);
}

#nav > #nav-centre {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#nav > #nav-centre > a {
  align-items: center;
  margin-right: calc(var(--parent-padding)/2);
}

#nav > #nav-right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: calc(var(--parent-padding));
}

#nav > #nav-right > a {
  align-items: right;
  margin-left: calc(var(--parent-padding)/2);
}

#nav > * > a {
  display: flex;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: var(--primary-font-size);
  text-transform: uppercase;
}