{%- from 'macros/nav.njk' import renderNav -%}
{% extends "layouts/base.njk" %}

{% block headerScripts %}
{% endblock %}

{% block topNav %}
  {{ renderNav(
  leftData = [
    {
      title: 'return',
      path: "/",
      back: true
    }
  ],
  centreData = [],
  rightData = []
  ) }}
{% endblock %}

{% block mainColContent %}
  {{ content | safe }}
{% endblock %}

{% block footerScripts -%}
<script src="{{ site.baseurl }}/assets/js/live-logo.js"></script>
{%- endblock %}