{%- from 'macros/nav.njk' import renderNav -%}
{% extends "layouts/base.njk" %}

{% block topNav %}
  {{ renderNav(
  leftData = [
    {
      title: translations.return,
      path: "/",
      back: true
    }
  ],
  centreData = [],
  rightData = []
  ) }}
{% endblock %}

{% block mainColContent %}
  {%- include 'partials/info-content.njk' -%}
{% endblock %}