{%- from 'macros/nav.njk' import renderNav -%}
{%- from 'macros/mobile-nav.njk' import renderMobileNav -%}
{% extends "layouts/base.njk" %}

{% block headerScripts %}
  <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
  <script src="{{ site.baseurl }}/assets/js/interactive-characters.js"></script>
{% endblock %}

{% block topNav %}
  {{ renderNav(
  leftData = [
    { 
      title: 'About',
      path: '/about'
    }
  ],
  centreData = [
    {
      title: 'Plurality: Technology for Collaborative Diversity and Democracy',
      path: '#'
    }
  ],
  rightData = [
    {
      title: 'GitHub',
      path: 'https://github.com/pluralitybook',
      external: true
    },
    {
      title: 'Announcement',
      path: 'https://www.radicalxchange.org/media/blog/plurality-technology-for-collaborative-diversity-and-democracy/',
      external: true
    },
    {
      title: 'Twitter',
      path: 'https://twitter.com/pluralitybook',
      external: true
    }
  ]
  ) }}
  {{ renderMobileNav(
    leftData = [
      { 
        toggleOverlay: true
      }
    ],
    rightData = [
      {
        title: 'Plurality: Technology for Collaborative Diversity and Democracy',
        path: '#'
      }
    ],
    overlayData = [
      {
        title: 'About',
        path: '/about'
      },
      {
        title: 'Announcement',
        path: 'https://www.radicalxchange.org/media/blog/plurality-technology-for-collaborative-diversity-and-democracy/',
        external: true
      },
      {
        title: 'Twitter',
        path: 'https://twitter.com/pluralitybook',
        external: true
      }
    ]
  ) }}
{% endblock %}

{% block mainColContent %}
  {{ content | safe }}
{% endblock %}

{% block extraneousContent %}
  <div id="interactive-type"></div>
{% endblock %}

{% block footer %}{% endblock %}
{% block footerScripts %}
  <script src="{{ site.baseurl }}/assets/js/scroll-position.js"></script>
{% endblock %}