{% extends "layouts/base.njk" %}

{% block headerScripts %}
  <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
  <script src="{{ site.baseurl }}/assets/js/interactive-type.js"></script>
{% endblock %}

{% block topNav %}
  {% include "partials/landing-top-nav.njk" %}
{% endblock %}

{% block mainColContent %}
  <div id="version-menu">
    {%- include 'partials/version-menu.njk' -%}
  </div>
{% endblock %}

{% block extraneousContent %}
  <div id="interactive-type">
  </div>
{% endblock %}

{% block footer %}
  {%- include 'partials/footer.njk' -%}
{% endblock %}