{% extends "layouts/base.njk" %}

{% block breakNav %}
{% endblock %}

{% block left %}
<div id="hero">
</div>
<div id="version-menu">
</div>
{% endblock %}

{% block right %}
<div id="interactive-type">
</div>
{% endblock %}