{% macro versionMenuItem(githubLink, dayStarted, yearStarted, monthStarted, 
numContributors, pageTitle, pageUrl) %}
  <div>
    <span>
      <span class="version-date-forked">[ {{ dayStarted }}.{{ monthStarted }}.{{ yearStarted }} – ]</span>
      <span class="version-github-link"><a href="{{ githubLink }}">Contribute &#8599;&#xFE0E;</a></span>
      <span class="version-num-contributors">[ {{ numContributors }} contributors ]</span>
    </span>
    <p class="version-title"><a href="{{ pageUrl }}">{{ pageTitle }}</a></p>
  </div>
{% endmacro %}