{% macro renderMobileNav(leftData, rightData, overlayData) %}

  <div id="mobile-nav" class="mobile">
    <div id="mobile-nav-left">
      {% if leftData %}
        {% for item in leftData %}
          {% if item.external %}
            <a target="_blank" href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#8599;&#xFE0E;</a>
          {% elif item.return %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#x2715;&#xFE0E;</a>
          {% elif item.toggleOverlay %}
            <a class="toggle-overlay">Menu (+)</a>
          {% else %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div id="mobile-nav-right">
      {% if rightData %}
        {% for item in rightData %}
          {% if item.external %}
            <a target="_blank" href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#8599;&#xFE0E;</a>
          {% elif item.return %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#x2715;&#xFE0E;</a>
          {% elif item.toggleOverlay %}
            <a class="toggle-overlay">Menu (+)</a>
          {% else %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% if overlayData %}
    <div id="mobile-nav-overlay-wrapper">
      <div id="mobile-nav-overlay">
        {% for item in overlayData %}
          <div>
            {% if item.external %}
              <a target="_blank" href="{{ item.path }}">{{ item.title }} &#8599;&#xFE0E;</a>
            {% elif item.return %}
              <a href="{{ item.path }}">{{ item.title }} &#x2715;&#xFE0E;</a>
            {% else %}
              <a href="{{ item.path }}">{{ item.title }}</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <script>
    if (document.querySelector('#mobile-nav > #mobile-nav-left > .toggle-overlay')) {
      let mobileNav = document.getElementById('mobile-nav');
      let mobileNavOverlay = document.getElementById('mobile-nav-overlay');
      let mobileNavOverlayWrapper = document.getElementById('mobile-nav-overlay-wrapper');
      let mobileNavLeft = document.querySelector('#mobile-nav-left > .toggle-overlay');
      let mobileNavRight = document.querySelector('#mobile-nav-right');
      let mobileNavRightContent = document
        .querySelector('#mobile-nav-right')
        .innerHTML;
      let mobileNavOpen = false;

      mobileNavLeft.addEventListener('click', function () {
        if (mobileNavOpen == false) {
          mobileNavOverlayWrapper.style.display = 'flex';
          mobileNavLeft.innerHTML = 'Close (-)';
          mobileNavRight.innerHTML = '';
          mobileNavOpen = true;
        } else {
          mobileNavOverlayWrapper.style.display = 'none';
          mobileNavLeft.innerHTML = 'Menu (+)';
          mobileNavRight.innerHTML = mobileNavRightContent;
          mobileNavOpen = false;
        }
      });
    }
  </script>

{% endmacro %}