{% macro renderNav(leftData, centreData, rightData) %}

  <div id="nav">
    {% if leftData %}
      <div id="nav-left">
        {% for item in leftData %}
          {% if item.external %}
            <a target="_blank" href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#8599;&#xFE0E;</a>
          {% elif item.return %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#x2715;&#xFE0E;</a>
          {% else %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if centreData %}
      <div id="nav-centre">
        {% for item in centreData %}
          {% if item.external %}
            <a target="_blank" href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#8599;&#xFE0E;</a>
          {% elif item.return %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#x2715;&#xFE0E;</a>
          {% else %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if rightData %}
      <div id="nav-right">
        {% for item in rightData %}
          {% if item.external %}
            <a target="_blank" href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#8599;&#xFE0E;</a>
          {% elif item.return %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }} &#x2715;&#xFE0E;</a>
          {% else %}
            <a href="{{ item.path }}" class="top-nav-item">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% endmacro %}