{% macro versionMenuItem(githubLink, dayStarted, yearStarted, monthStarted, 
numContributors, language, 
contributorsTranslated, contributeTranslated,
pageTitle, pageUrl) %}

  <div>
    <p class="version-title"><a href="{{ pageUrl }}">{{ pageTitle }}</a></p>
    <span class="version-meta">
      {% if dayStarted %}<span>[ {{ dayStarted }}.{{ monthStarted }}.{{ yearStarted }} – ]</span>{% endif %}
      {% if numContributors %}<span>[ {{ numContributors }} {{ contributorsTranslated }} ]</span>{% endif %}
      {% if language %}<span>[ {{ language }} ]</span>{% endif %}
      {% if githubLink %}<span><a href="{{ githubLink }}">{{ contributeTranslated }} &#8599;&#xFE0E;</a></span>{% endif %}
    </span>
  </div>01

{% endmacro %}