{%- from 'macros/nav.njk' import renderNav -%}

{{ renderNav(
  leftData = [
    {
      title: 'Info',
      url: '/'
    },
    {
      title: 'Announcements',
      url: '/'
    }
  ],
  centreData = [
    {
      title: 'Plurality: Technology for Collaborative Diversity and Technology',
      url: '/'
    }
  ],
  rightData = [
    {
      title: 'Twitter',
      url: '/'
    }
  ])
}}