<div id="version-wrapper">
  <div id="version-index">
    {{ content | toc | safe }}
  </div>
  <div id="version-content">
    <div id="version-data">
      <p id="version-data-title">{{title}}</p>
      <span>
        <p id="version-data-authors">{{translations.authorsLead}}</p>
        {% if translators|length %}
          <p id="version-data-translators">
            {{translations.translatorsLead}}
            {% for translator in translators %}
              {% if (loop.last) and (translators|length != 1) %}
                {% if translators|length == 1 %}
                  {{translator}}
                {% else %}
                  and {{translator}}
                {% endif %}
              {% else %}
                {% if translators|length == 2 and loop.first %}
                  {{translator}}
                {% else %}
                  {{translator}},
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
      </span>
    </div>
    <div id="version-md">
      {{ content | safe }}
    </div>
  </div>
</div>
