{%- from 'macros/version-menu-item.njk' import versionMenuItem -%}

<ol id="version-ol">
  {% for version in collections.versions %}
    <li class="version-item">
      {{ versionMenuItem( 
        githubLink = version.data.githubLink, 
        dayStarted = version.data.dateStartedString.day,
        monthStarted = version.data.dateStartedString.month,
        yearStarted = version.data.dateStartedString.year,
        numContributors = False,
        language = version.data.language,
        contributorsTranslated = False,
        contributeTranslated = version.data.translations.contribute,
        pageTitle = version.data.title,
        pageUrl = version.data.permalink) }}
    </li>
  {% endfor %}
</ol>