<div id="version-wrapper">
  <div id="version-index">
    {{ content | toc | safe }}
  </div>
  <div id="version-content">
    <div id="version-data">
      <p id="version-data-title">{{title}}</p>
      <span>
        <p id="version-data-authors">
          {{translations.authorsLead}}
          {% for author in site.authors %}
            {% if loop.last %}
              {{translations.and}} {{author}}
            {% else %}
              {{author}}
            {% endif %}
          {% endfor %}
        </p>
        {% if translators|length %}
          <p id="version-data-translators">
            {{translations.translatorsLead}}
            {% for translator in translators %}
              {% if loop.last %}
                {{translations.and}} {{translator}}
              {% else %}
                {{translator}},
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
      </span>
    </div>
    <div id="version-md">
      {{ content | safe }}
    </div>
  </div>
</div>
